
* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
}

.header-cont{
  /* background-color: rgb(75, 156, 75); */
  color: rgba(255, 255, 255, 0.945);
  background-image: url('./assets/275559246_331445855694673_6887882595759885476_n.jpg');
}

.header-cont-layer{
  width: 100%;
  /* background-color: rgba(45, 108, 35, 0.822); */
  background-color: rgba(43, 61, 33, 0.829);
}

.mcpl-logo{
  height: 4pc;
  margin: 1pc;
  box-shadow: 7px 7px 100px rgba(0, 0, 0, 0.413);
  border-radius: 100px;
}

/*Loading CSS*/

.loading-cont{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(165, 174, 165, 0.582);
  padding-top: 10pc;
  text-align: center;
}


.loading-cont > img {
  width: 5pc;
}

/*Login CSS*/

.login-cont {
  width: 50%;
  padding-top: 1pc;
  padding-bottom: 3pc;
  margin: auto;
  margin-top: 3pc;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(198, 228, 198);
  border: 1px solid rgb(177, 177, 177);
}

.login-cont > h2 {
  margin-bottom: 3pc;
}

.login-cont > form > p {
  font-size: 12px;
  color: red;
  margin: 0;
  padding-bottom: 10px;
}





/*Navbar Component CSS*/

.role-cont {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 1pc;
}

.role-cont > button {
  height: 2pc;
  margin-top: 2pc;
  margin-bottom: 2pc;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: rgb(23, 233, 16);
  border-radius: 50%;
  display: inline-block;
}

.nav-cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid rgb(155, 155, 155);
}

.nav-link {
  list-style-position: inside;
  border-left: 1px solid rgb(117, 117, 117);
  border-bottom: 1px solid rgb(117, 117, 117);
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}


/*Temporary SubComponent CSS*/
.sub-cont{
  height: 70vh;
  margin-top: 1pc;
  padding-top: 10pc;
  background-color: rgb(235, 235, 235);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: rgb(113, 113, 113);
}

/*Module Content Component CSS*/
.module-cont {
  margin-top: 3pc;
  display: flex;
  gap: 2%;
  justify-content: center;
}




/*Sidebar Component CSS*/
.side-bar-cont {
  background-color: rgb(230, 249, 230);
  height: 50vh;
  width: 20%;
  border: 1px solid gray;
  box-shadow: 7px 7px rgb(6, 57, 5);
}

.side-bar-cont > h3 {
  text-align: center;
}

.side-bar-cont > ul {
  list-style: square;
}

.side-bar-cont > li {
  text-decoration: none;
}


/*Content Component CSS*/
.content-cont{
  width: 75%;
  padding-top: 1pc;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgba(0, 0, 0, 0.604);
  padding-bottom: 2pc;
}



/*Catalog: ADD-NEW-REC*/

.content-button-cont {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 1pc;
  margin-top: 1pc;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.rec-framework{
  height: 2pc;
  border-radius: 3px;
}

.save-rec-button{
  height: 2.5pc;
  width: 9pc;
  margin-bottom: 10px;
}

.upload-img-button{
  height: 1.5pc;
  margin-right: 0;
  margin-top: 2pc;
  margin-left: auto;
  font-size: 13px;
  font-weight: 400;
}

.tab-cont{
  box-sizing: border-box;
  width: 80%;
  margin-top: 1pc;
  border: 1px solid rgba(0, 0, 0, 0.338); 
  background-color:white;
  border-radius: 10px;
  margin-left: 1pc;
}


.react-tabs__tab-list {
  background-color: rgba(8, 67, 8, 0.249);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-tabs__tab-panel{
  
  padding: 2pc;
  padding-bottom: 5pc;
}

.indicators{
  width: 20px;
  font-size: 11px;
}

.text-blue-btn{
  color: rgb(19, 19, 155);
  border: none;
}

.subfield-cont{
  display: flex;
  justify-content: space-between;
}

.subfield-code{
  width: 20px;
  border: none;
  font-weight: 500;
}

.subfield-input{
  float: right;
  width: 60%;
}


/*Catalog: View All Records*/

.records-simple-search-cont{
  width: 100%;
  margin: auto;
  padding: 1pc;
}

.records-cont{
  width: 95%;
  margin: auto;
  margin-bottom: 2pc;
  border: 1px solid rgba(0, 0, 0, 0.357);
}

.record-item {
  padding: 0.5pc;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.234);
  padding-left: 3pc;
}

.record-info-cont{
  width: 70%;
  margin-top: 16px;
  margin-left: 1pc;
}

.record-info-txt{
  width: 100%;
}
.book-cover-img{
  width: 7pc;
  padding: 0.5pc;
  margin-left: 1pc;
  object-fit: cover;
}

.records-simple-search-input{
  height: 2pc;
  width: 50%;
  margin-right: .5pc;
}

.records-simple-search-btn{
  height: 2pc;
  width: 5pc;
}

.record-info-cont > p {
  font-size:11px;
  color: rgb(72, 66, 66);
  margin: 1px;
  margin-left: 1pc;
  font-weight: bold;
}

.record-info-cont > p > span {
  font-weight: 400;
}



/* PAGINATION CSS*/

.paginationBttns {
  width: 80%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
}

.paginationBttns a {
  padding: 5px;
  margin-left: 2px;
  border: 1px solid #0000004f;
  color: rgba(0, 0, 0, 0.628);
  cursor: pointer;
}


.paginationActive a {
  color: rgb(0, 0, 0);
  border: 1px solid #00000083;
}

.paginationDisabled a {
  border: 1px solid #0000001d;
  color: rgba(0, 0, 0, 0.316);
  background-color: rgba(128, 128, 128, 0.096);
}



/* DISPLAY BOOK DETAILS  CSS*/
.upper-cont-main {
  display: flex;
  padding-right: 2pc;
  padding-top: 2pc;
}

.upper-cont{
  width: 95%;
  display: flex;
  padding-left: 2pc;
  flex-wrap: wrap;
  gap: 2pc;
}

.upper-cont > img {
  width: 10pc ;
  height: 14pc;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.172);
  
}

.info-text-cont {
  color: rgba(0, 0, 0, 0.665);

}

.info-text-cont > h3 {
  margin: 0;
  font-size: 17px;
}

.info-text-cont > h3 > span {
  font-weight: 400;
}

.record-btn-cont > button {
  float: right;
  margin-bottom: 10px;
}

.record-edit-btn{
  height: 2.5pc;
  width: 8.5pc;
}

.record-delete-btn{
  height: 2PC;
}

.rec-location-cont {
  margin: auto;
  text-align: center;
  margin-top: 2pc;
}


.rec-location-cont > table {
  border: 1px solid rgba(0, 0, 0, 0.448);
  padding: 0;
  margin: auto;
  
}

.rec-location-cont > table > tr > th {
  color: rgb(19, 80, 19);
}

.rec-location-cont > table > tr > td {
 background-color: rgba(190, 189, 189, 0.156);
}

.rec-location-cont > table > tr > th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.marc-view-cont{
  margin: auto;
  font-size: 13px;
  margin-top: 5pc;
}

.marc-view-cont > hr{
  border: 1px solid rgba(0, 0, 0, 0.083);
}

.marc-view-cont > table {
  margin: auto;
  text-align: left;
  border: 1px solid rgba(101, 95, 95, 0.157);
  margin-top: 2pc;
  width: 80%;
}

.marc-view-cont > table > tr > th {
  background-color: rgba(13, 75, 208, 0.146);
  padding: 0;
}
.marc-view-cont > table > tr > td {
  background-color: rgba(201, 210, 229, 0.146);
  padding: 0;
  padding-left: 2pc;
}




/*CATALOG: ADVANCE SEARCH CSS*/

.advance-search-select {
  width: 7pc;
  height: 1.8pc;
  margin-right: 5px;
  background-color: rgba(159, 154, 154, 0.113);
  border-radius: 5px;
  margin-bottom: 3px;
}

.advance-search-input{
  width: 10pc;
  height: 1.8pc;
  margin-right: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
}
.advance-search-add-btn{
  width: 5pc;
  height: 1.8pc;
  border-radius: 5px;
  background-color: rgb(9, 72, 9);
  color: white;
}

.advance-search-remove-btn{
  width: 5pc;
  height: 1.8pc;
  border-radius: 5px;
  background-color: rgb(134, 17, 17);
  color: white;
}

.item-type-main-cont{
  width: 90%;
  margin-top:5pc;
  border: 1px solid rgba(0, 0, 0, 0.361);
  padding-right:2pc;
  padding-left:2pc;
  padding-bottom:2pc;

}

.item-type-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkbox-cont{
  width: 30%;
  height: 2pc;
}

.bottom-cont{
  margin-top: 3pc;
  display: flex;
  flex-wrap: wrap;
  gap: 4pc;
}

.search-btn-cont{
  width: 100%;
  padding: 0;
  text-align: center;
}

.advance-search-btn{
  margin-top: 10pc;
  width: 11pc;
  height: 3pc;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.407);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.348);
  font-size: 15px;
}