
* {
  box-sizing: border-box;
}

html, body{
  margin-left: 1pc;
  margin-right: 1pc;
  padding-bottom: 10pc;
}

/*Loading CSS*/

.loading-cont{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(165, 174, 165, 0.582);
  padding-top: 10pc;
  text-align: center;
}


.loading-cont > img {
  width: 5pc;
}

/*Login CSS*/

.login-cont {
  width: 50%;
  padding-top: 1pc;
  padding-bottom: 3pc;
  margin: auto;
  margin-top: 3pc;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(198, 228, 198);
  border: 1px solid rgb(177, 177, 177);
}

.login-cont > h2 {
  margin-bottom: 3pc;
}

.login-cont > form > p {
  font-size: 12px;
  color: red;
  margin: 0;
  padding-bottom: 10px;
}





/*Navbar Component CSS*/

.role-cont {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 1pc;
}

.role-cont > button {
  height: 2pc;
  margin-top: 2pc;
}

.nav-cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
  border: 1px solid rgb(155, 155, 155);
}

.nav-link {
  list-style-position: inside;
  border-left: 1px solid rgb(117, 117, 117);
  border-bottom: 1px solid rgb(117, 117, 117);
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}


/*Temporary SubComponent CSS*/
.sub-cont{
  height: 70vh;
  margin-top: 1pc;
  padding-top: 10pc;
  background-color: rgb(235, 235, 235);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: rgb(113, 113, 113);
}

/*Module Content Component CSS*/
.module-cont {
  margin-top: 3pc;
  display: flex;
  gap: 2%;
  justify-content: center;
}




/*Sidebar Component CSS*/
.side-bar-cont {
  background-color: rgb(232, 232, 232);
  height: 50vh;
  width: 20%;
}

.side-bar-cont > h3 {
  text-align: center;
}

.side-bar-cont > ul {
  list-style: square;
}

.side-bar-cont > li {
  text-decoration: none;
}


/*Content Component CSS*/
.content-cont{
  width: 75%;
  height: 100vh;
  padding-top: 1pc;
  background-color: rgb(252, 252, 252);
}



/*Catalog: ADD-NEW-REC*/

.content-button-cont {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.rec-framework{
  height: 2pc;
  border-radius: 3px;
}

.save-rec-button{
  height: 2.5pc;
  width: 8pc;
  margin-bottom: 10px;
}

.upload-img-button{
  width: 6.5pc;
  height: 1.5pc;
  margin-right: 0;
  margin-left: auto;
  
}

.tab-cont{
  box-sizing: border-box;
  width: 70%;
  margin: auto;
  margin-top: 1pc;
  border: 1px solid rgba(0, 0, 0, 0.338); 
  background-color:white;
  border-radius: 10px;
}


.react-tabs__tab-list {
  background-color: rgba(8, 67, 8, 0.249);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-tabs__tab-panel{
  
  padding: 2pc;
  padding-bottom: 5pc;
}

.indicators{
  width: 20px;
  font-size: 11px;
}

.text-blue-btn{
  color: rgb(19, 19, 155);
  border: none;
}

.subField-code{
  width: 20px;
  border: none;
  font-weight: 500;
}

.subField-input{
  margin-left: 1pc;
  width: 20pc;
  float: right;
}